.table-striped > tbody > tr:nth-of-type(odd) {
     background-color: #1f1f1f; 
}

#jobTable{
	font-size:15px;
}

.ng2-st-actions-title .ng2-smart-title{
	color:#1e6bb8;
}

#jobTable .ng2-smart-titles{
	background-color:#7D95CC;
}