<div>
    <p>
        <a routerLink="/createmeasure" class="btn btn-primary btn-o btn-wide" >
        <i class="fa fa-plus"></i> 
        Create Measure
        </a>
    </p>

    <div id="modelContainer">
    	<ng2-smart-table [settings]="settings" [source]="results" id="measureTable"></ng2-smart-table>
<!--         <table st-table="displayed" st-pipe="paging" class="table table-striped">
            <thead>
            <tr style="background-color:#7D95CC">
                <th st-ratio="15">Measure Name</th>
                <th st-ratio="15">Measure Type</th>
                <th st-ratio="20">Description</th>
                <th st-ratio="5">Organization</th>
                <th st-ratio="5">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="!results || results.length == 0">
                <td colspan="7" style="text-align:center">No content!</td>
            </tr>
            <tr *ngFor="let measure of results">
                <td>
                <a routeLink="/viewrule/{{row.id}}">
                {{measure.name}}
                </a>
                </td>
                <td>{{measure.type}}</td>
                <td>{{measure.description}}</td>
                <td>{{measure.organization}}</td>
                <td>
                    &nbsp;
                    <a href="" ng-click="remove(measure)" title="delete" style="text-decoration:none">
                        <i class="fa fa-trash-o"></i>
                    </a>
                    &nbsp;
                    <a routeLink="/viewrule/{{row.id}}" title="subscribe">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="8" class="text-right">
                    <div  st-items-by-page="10" st-pagination="" st-displayed-pages="10"></div>
                </td>
            </tr>
            </tfoot>
        </table> -->
    </div>
    <div class="modal fade" id="deleteConfirmation" role="dialog">
        <div class="modal-dialog modal-xg modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete the model with the below information?</h4>
                </div>
                <div class="modal-body">
                    <!-- <ng-include src="'/pages/measures/delete-confirm.html'"/> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="confirmDelete()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>