.icon{
  color: #fff;
  position: absolute;
  left: 50%;
  top: 30%;
}


.table-striped > tbody > tr:nth-of-type(odd) {
     background-color: #1f1f1f; 
}
.table-striped > tbody > tr:nth-of-type(even) {
     background-color: #1f1f1f; 
}


