.icon{
  color: #fff;
  position: absolute;
  left: 50%;
}

#dataassetTable{
	font-size:15px;
}

.ng2-st-actions-title .ng2-smart-title{
	color:#1e6bb8;
}

#dataassetTable .ng2-smart-titles{
	background-color:#7D95CC;
}
.table-striped > tbody > tr:nth-of-type(odd) {
     background-color: #1f1f1f; 
}

#dataassetTable .ng2-smart-sort-link{
	color:#b2c831;
}
